body{background-color: aqua;} 
#score{font-size: 30px;
    float: left;
margin-left: 20px;}

#timer{font-size: 30px;
    float: right;
margin-right: 20px;}

#p3{color:darkorchid;
font-size: 20px;}